[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
flake8 = "*"
isort = "*"
pylint = "*"
black = "==21.5b1"
mypy = "*"

[requires]
python_version = "3.9"
