[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
flake8 = "*"
isort = "*"
pylint = "*"
black = "==20.8b1"
mypy = "*"

[requires]
python_version = "3.8"
